@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
::selection{
  background:#22d3ee;
  color:#020617;
}
::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#020617;
}

::-webkit-scrollbar-thumb{
  background:#22d3ee;
  border-radius:20px;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #020617;
  color: white;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}